body {
    font-family: 'Open Sans', sans-serif;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
}

.logo-text-link {
    text-decoration: none;
    color: #FFFFFF;

}

.logo-name {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-img {
    padding: 0 27px 0 27px;
    width: 27px;
}

.menu-list3 li a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 35px;
}

.menu-list3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;

}

.searcher {
    padding: 27px 26px 26px 26px;
    background: #000000;
    width: 17px;
    margin-left: 100px;
}

.container {
    width: 100%;
    text-align: center;
}

.hero-background {
    background: url("../img/header-background.jpg");
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 130px;


}


.news {
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    font-weight: bold;

}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.subscribe {
    width: 170px;
    height: 55px;
    margin-right: 20px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #89CA62;
    padding: 13px 19px 13px 19px;
    cursor: pointer;
    border-radius: 8px;
    border: none;

}

.articles {
    width: 170px;
    height: 55px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #14B9D5;
    padding: 13px 29px 13px 30px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.popular-stuff {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;

}

.modern {
    padding-top: 49px;
    padding-bottom: 74px;
    background: #F2F2F2;


}

.container-modern {

    width: 1170px;
    height: 870px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 52px auto;

}

.imgs {
    width: 370px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    margin: 15px 15px;

}

.modern-photos {
    margin-bottom: 20px;
}

.modern-titles {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 22px;
    color: #353A3D;
}

.popular-clients {
    display: grid;
    grid-gap: 60px;
    background: url("../img/layer.jpg");
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 200px;

}

.clients-title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;


}


.middle-line {
    width: 60px;
    border-top: 3px solid #18B4CF ;


}

.img-clients {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
}

.top-rated {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 52px;
}

.pictures-line {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 48px;
}

.funny-imgs {
    width: 100%;
}

.hot-news {
    text-transform: uppercase;
    color: #18B4CF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 51px;
}

.info-blocks {
    display: grid;
    margin: 0 auto;
    width: 1140px;
    gap: 35px;
    grid-template-areas:
"item1 item1 item1 item2"
"item3 item3 item4 item4"
"item5 item5 item6 item6"
"item7 item8 item8 item8";
}


.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item3 img {

}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item5 img {

}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.resort-types {
    display: grid;
    grid-auto-flow: column;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.prophecy-hotel {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin: 41px 20px 15px 0;
    text-align: right;
}

.prophecy-hotel-description {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
}

.resort-types1 {
    text-align: center;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.resort-types-img1 {
    width: 100%;
}

.hotel-title {
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 14px;
    padding-bottom: 11px;
    font-weight: bold;
}

.resort-types2 {
    text-align: center;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.title-description1 {
    width: 554px;
    text-align: right;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.prophecy-hotel1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-top: 12px;
    margin-right: 14px;
    margin-bottom: 15px;
}

.prophecy-hotel-description1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin-right: 14px;
}

.resort-types3 {
    text-align: right;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    display: grid;
    grid-auto-flow: column;
}

.hotel {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-top: 5px;
    color: #353A3D;
}

.title-description5 {
    margin-right: 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.prophecy-hotel5 {
    margin-top: 41px;
    margin-bottom: 14px;
}

.prophecy-hotel-description5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding-left: 4px;
}

.bottom-line {
    height: 80px;
    background: #000000;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.footer-rights {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.lioit-link {
    text-decoration: none;
}

.lioit {
    text-transform: uppercase;
    font-size: 26px;
    line-height: 20px;
    color: #FFFFFF;
}

.img-text {
    display: grid;
    grid-auto-flow: column;
}

.hover-link:hover {
    color: #14B9D5;

}