*{
    font-family: sans-serif;
    text-align: right;
}

.menu-list {
    text-align: center;
    padding-left: 72px;
}

 .menu-list-item {
padding-top: 25.5px;
     display: inline-block;
     margin: 0 72px;
     list-style: none;
     font-weight: bold;
     font-size: 18px;
     line-height: 18px;
     text-transform: uppercase;
 }

 .menu-list > li > a {
     text-decoration: none;
     color: #FF0000;
 }

 .img {
padding-top: 25.5px;
     width: 1280px;
     height: 789px;
 }
.wrap {
    width: 1280px;
    margin: 0 auto;
}

.container {
    width: 1145px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
}
.some {
    padding-top: 49px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align:  center;
}

.main-text1 {
    padding-top: 38px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.main-text {
    padding-top: 28px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.but {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    font-family: Montserrat;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    margin-top: 50px;
    border: 1px solid black;
    cursor: pointer;
}
.but > a {
    text-decoration: none;
    color: #FFFFFF;
}

.text1 {
    font-size: 16px;
    line-height: 26px;
    width: 462px;
    height: 39px;
    align-items: center;
    font-family: Montserrat;
    font-weight: bold;
    text-align: right;
    letter-spacing: 2.4px;
    color: #373737;
}

.text-rights {
    margin-top: 70px;
    margin-right: 120px;
    padding-bottom: 40px;
}


