*{
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin: 0 auto;
    background: url("../img/bg-retro.jpg");
    background-size: cover;
    height: 100vh;
}

.journey-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
}

.journey {
    font-family: 'Ubuntu', sans-serif;
    margin: 18px 0 18px 80px;
}

.log-sign-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.log-sign-link:hover {
    color: #01813F;
}

.tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
}

.log-sign {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
}

.link-section {
    display: flex;
    align-items: center;
}

.log-in-sign-up-link {
    text-decoration: none;
}

.log-in-sign-up-link:hover {
    color: #01813F;
}

.log-in-sign-up {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.link-section::before {
    content: url("../img/line-pseudoelement.svg");
    margin-right: 27px;
}

.tools-imgs-svg {
    text-decoration: none;
    margin-right: 27px;
}

.tools-imgs-svg:hover .svg-color {
    fill: #01813F;
}

.fill-form {
    width: 444px;
    position: absolute;
    top: calc(50% - 270px);
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.content-inside {
    box-sizing: border-box;
    width: 324px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.first-block {
    display: flex;
    padding-top: 31px;
    align-items: flex-end;
    margin-bottom: 15px;
}

.first-block a {
    text-decoration: none;
}

.sign-up-block {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 43px;
    flex-grow: 1;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.log-in-block {
    font-family: 'Ubuntu', sans-serif;
    margin-right: 59px;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.log-in-block-link:hover {
    text-decoration: underline;
    color: #01813F;
}

.log-in-block-link {
    color: #3CB878;
}

.first-block::before {
    content: url("../img/square-pseudoelement.svg");
}

.f-g-fake-buttons {
    display: flex;
    justify-content: center;
}

.f-fake-button {
    display: flex;
    align-items: center;
    background: #305DB8;
    border-radius: 6px;
    width: 160px;
    height: 48px;
    margin-right: 4px;
}

.f-fake-button:hover {
    background: #022263;
}

.g-fake-button {
    display: flex;
    align-items: center;
    background: #DF4A32;
    border-radius: 6px;
    height: 48px;
    width: 160px;
}

.g-fake-button:hover {
    background: #AB1F09;
}

.svg-class {
    padding: 0 18px 0 18px;
}

.svg-class2 {
    padding-right: 18px;
}

.facebook-google {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-right: 20px;
}

.for-pseudoelement {
    display: flex;
    align-items: center;
}

.for-facebook-pseudoelement::before {
    content: url("../img/facebook-pseudo.svg");
    margin-right: 18px;
}

.for-google-pseudoelement::before {
    content: url("../img/google-pseudo.svg");
    margin-right: 18px;
}

.facebook-google-link {
    text-decoration: none;
}

.or-with-pseudo {
    display: flex;
    align-items: center;
    margin-left: 3px;
    margin-top: 10px;
}

.or {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin: 17px 3px 11px 3px;
}

.or-with-pseudo::before {
    content: url("../img/or-left-pseudo.svg");
}

.or-with-pseudo::after {
    content: url("../img/or-right-pseudo.svg");
}

.create-account-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-input {
    font-family: 'Ubuntu', sans-serif;
    padding: 16px 0 16px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.form-input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline: none;
}

.form-input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.form-label {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.form-label input {
    margin-right: 10px;
}

.terms-conditions {
    color: #3CB878;
    text-decoration: none;
}

.terms-conditions:hover {
    border-bottom: 2px solid #01813F;
    color: #01813F;
}

.submit-button {
    padding: 16px;
    border: none;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    outline: none;
}

.submit-button:hover {
    background: #01813F;
}

.submit-button-link {
    text-decoration: none;
    color: #FFFFFF;
}

