*{
    font-family: 'Roboto', sans-serif;
}

.star-wars {
    background-color: black;
    overflow: hidden;
    height: 100vh;
}

.container {
    background-size: cover;
    margin: auto;
    width: 1000px;
    height: 600px;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(20deg);
}

.story-block {
    position: absolute;
    margin: auto;
    width: 1000px;
    text-align: center;
    color: #F4CD0B;
    font-size: 400%;
    font-weight: 500;
    font-family: Roboto;
    animation: star-wars 30s linear infinite ;
}

@keyframes star-wars {
    0% {
margin-top: 70%;
    }
    100% {
margin-top: -120%;
    }
}

.episode {
    margin-bottom: 100px;
}

.frontend {
    margin-bottom: 100px;
}

.short-story {
    margin-bottom: 100px;
    text-align: justify;
}











