*{
    font-family: 'Roboto', sans-serif;
}
:root {
    --text-color: #ffffff;
    --text-color2: #F26522;
}

.background-window {
    background: url("../img/background.jpg");
    background-size: cover;
    height: 100vh;
    padding-top: 35px;
}

.milan-hol-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1028px;
    margin: 0 auto;
}

.color-link {
    text-decoration: none;
    display: flex;
}

.img-house {
   margin-right: 8px;
}

.milan-name {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: var(--text-color);
    margin-top: 3px;
        font-family: 'Roboto', sans-serif;

}

.milan-name2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: var(--text-color);
    margin-top: 3px;
}

.mail-phone a {
    text-decoration: none;
}

.mail-phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
        font-family: 'Roboto', sans-serif;

}

.mail {
    font-size: 18px;
    line-height: 18px;
    color: var(--text-color);
}

.phone-number {
    font-size: 18px;
    line-height: 18px;
    margin-top: 19px;
    color: var(--text-color);
}

.milan-pictures {
    width: 1030px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 17px auto;
}

.picture-text-link {
    text-decoration: none;
}

.picture-text {
    position: relative;
    align-items: center;
    text-align: center;
        font-family: 'Roboto', sans-serif;

    margin-bottom: 37px;
}

.milan-img {

    width: 300px;
    height: 220px;
    margin-bottom: 20px;
}

.tours {
    font-size: 18px;
    line-height: 18px;
    color: var(--text-color);
}

.bottom-text {
    text-align: center;
    color: var(--text-color);
}

.bottom-important-text {
    font-size: 12px;
    line-height: 12px;
        font-family: 'Roboto', sans-serif;

}

.yellow-line-text {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--text-color);
    background: var(--text-color2);
    width: 100%;
    visibility: hidden;
    margin-bottom: 40px;
    bottom: 0;

}

.from-50 {
    padding: 7px 0 12px 16px;
}

.from {
    font-size: 10px;
    line-height: 10px;
}

.euro-50 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 7px;
}

.view-details {
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 13px;
}

.color-link:hover .img-house {
    content: url("../img/logo-milan-orange.svg");
    color: var(--text-color2);
}

.color-link:hover .milan-name {
    color: var(--text-color2);
}

.color-link:hover .milan-name2 {
    color: var(--text-color2);
}

.mail-phone a:hover {
    color: var(--text-color2);
}

.view-details::after {
    margin-left: 15px;
    padding-right: 13px;
    content: url("../img/vector.svg");
}

.picture-text-link:hover .yellow-line-text {
    visibility: visible;
}

.picture-text-link:hover .tours {
    color: var(--text-color2);
}

.yellow-line-text {

}

.tours:hover {
    color: var(--text-color2);
}

