*{
    font-family: sans-serif;
}


.container {
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.name {
    font-size: 80px;
    line-height: 94px;
    padding-bottom: 38px;
    margin-top: 61px;
}

.name > a {
text-decoration: none;
    color: #000000;
}

.text-color {
    color: #8CC5F9;
}

.menu {
    background: #35444F;

}

.menu-list > li > a {
    text-decoration: none;
    color: #ffffff;
}

.menu-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.menu-list-item {
    font-size: 24px;
    line-height: 28px;
    border-left:1px solid white;
    padding: 26px 36px 19px 36px;
}

.menu-list-item:hover  {
    background: #222F3A;
    cursor: pointer;
}

.container2 {
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.explanation {
    width: 344px;

}

.menu-ex {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #000000;


}

.menu-ex-item {
    font-size: 27px;
    line-height: 27px;
    padding: 30px 0 30px 30px;
}


.menu-ex > li > a {
    text-decoration: none;
    color: #485863;
}

.img {
    width: 320px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    padding: 75px 268px 73px 297px;
    margin-left: 52px;
    margin-bottom: 37px;
}

.content {
    display: flex;
    justify-content: space-between;
}



.lorem3 {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 54px;
    width: 885px;
    margin-left: 52px;
}

.lorem1 {
    margin-bottom: 30px;
}

.foot-rights {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    align-items: center;
}


.menu-foot {
    display: flex;
}

.menu-foot > li > a {
    text-decoration: none;
    color: #0C1927;
}

.menu-foot-item {
    font-size: 28px;
    line-height: 28px;
    padding: 20px 0 20px 0;
    margin-left: 40px;
    cursor: pointer;
}



.rights {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-right: 40px;
}

.hover-menu:hover .hover-menu1 {
    font-size: 27px;
    line-height: 27px;
    color: #35444F;
    padding-left: 38px;
    font-weight: bold;
}

.menu-ex-item:hover {
    cursor: pointer;
    background: #DBDBDB;
}

.menu-foot-hover:hover {
    padding-bottom: 10px;
    border-bottom: 3px solid #3181A6;
    color: #3181A6;
}


