* {
    font-family: 'Montserrat', sans-serif;
}

.menu-content-bg {
    background: url("../img/layer-bg.jpg") fixed;
    background-size: cover;
    height: 100vh;
}

.menu-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(94, 93, 88, 0.6);
}

.h-n-ham {
    display: flex;
    align-items: center;
}

.menu-section-h {

}

.hexagon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: #18CFAB;
    width: 58px;
    line-height: 67px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.the-ham {
    padding-left: 6px;
}

.the-ham-link {
    text-decoration: none;
}

.the {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
}

.ham {
    color: #18CFAB;
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    display: flex;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list-item {
    margin-right: 21px;
}

.hover-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.hover-link:hover {
    border-bottom: 2px solid #18CFAB;
    padding-bottom: 51px;
    color: #18CFAB;
}

.search {
    margin-top: 49px;
    margin-bottom: 52px;
}

.searcher {
    width: 21px;
    height: 20px;
}

.content-section {
    /*position: absolute;*/
    /*top: calc(80% - 124px);*/
    /*left: 0;*/
    /*right: 0;*/
    margin: 9% auto;
    width: 1160px;
}

.first-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.the-ham-is {
    color: #FFFFFF;
}

.wordpress-theme {
    color: #18CFAB;
}

.second-title {
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7%;
}

.third-title {
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /*margin-top: 80px;*/
    margin-top: 7%;
}

.buttons {
    text-align: center;
    margin-top: 150px;
}

.explore-now-btn {
    background: #18CFAB;
    margin-right: 25px;
}

.purchase-now-btn {
    background: #00CBF6;
}


.united-buttons {
    width: 169px;
    height: 63px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 -5px 0 0 rgba(255, 255, 255, 1);
    cursor: pointer;
}

.advantages {
    display: flex;
    margin: 8px auto;
}

.touch {
    width: 100%;
    /*width: 482px;*/
    height: 377px;
    /*height: 100%;*/
    text-align: center;
    box-sizing: border-box;
}

/*.touch-item1 {*/
/*    padding-top: 85px;*/
/*    background: #1C2A33;*/
/*}*/

/*.touch-item2 {*/
/*    padding-top: 95px;*/
/*    background: #18CFAB;*/
/*}*/

.touch:nth-of-type(2n+1) {
    padding-top: 85px;
    background: #1C2A33;
}

.touch:nth-of-type(2n) {
    padding-top: 95px;
    background: #18CFAB;
}

.touch-description {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.touch-description1 {
    margin-top: 48px;
    color: #18CFAB;
}

.touch-description2 {
    margin-top: 58px;
    color: #FFFFFF;
}

.title-for-pseudo-relative {
    width: 1160px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.titles-pseudo-margin {
    margin-top: 85px;
}

.titles-pseudo:after {
    content: url("../img/pseudoelement-shape.svg");
    margin-right: 10px;
    /*box-shadow: 0 1px 0 0 rgba(24, 207, 171, 1);*/
    /*background: linear-gradient(0deg, rgb(24, 207, 171) 6%, rgb(255, 255, 255) 6%);*/
}

.titles-pseudo:before {
    content: url("../img/pseudoelement-shape.svg");
    position: absolute;
    top: 45px;
    right: 46%;
}


.titles {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    font-family: 'Montserrat', sans-serif;
}

.menu-services {
    margin: 50px auto;
    justify-content: center;
    display: flex;
    text-align: center;
}

.menu-list-services {
    justify-content: center;
    /*box-sizing: border-box;*/
    width: 195px;
    position: relative;

}

.menu-list-services-item {
    box-sizing: border-box;
    color: #717171;
    font-size: 16px;
    line-height: 39px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.menu-list-services-item:hover {
    border: 1px solid #18CFAB;
    background: #18CFAB;
    color: #FFFFFF;
}

.menu-list-services:after {
    content: url("../img/web-design-pseudoelement.svg");
    position: absolute;
    left: calc(50% - 12.5px);
    bottom: -14px;
    visibility: hidden;
}

.menu-list-services:hover:after {
    visibility: visible;
}


.info-block {
    width: 1160px;
}


.web-design-picture-description {
    width: 1160px;
    display: flex;
    margin-top: 23px;
    /*visibility: hidden;*/
    /*opacity: 0;*/
}

.menu-list-services:hover .web-design-picture-description {
    /*opacity: 1;*/
    visibility: visible;
}


.web-design-picture {
    margin-right: 15px;
}

.titles-pseudo:before {
    content: url("../img/pseudoelement-shape.svg");
    position: absolute;
    top: 45px;
    right: 46%;
}

.web-design-description {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-family: 'Montserrat', sans-serif;
}


.purchase-window {
    margin-top: 100px;
    background: url("../img/purchase-bg.jpg");
    background-size: cover;
}

.buy-install-title {
    text-align: center;
}

.buy-install {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    padding-top: 127px;
    margin-bottom: 12px;
}

.options {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 70px;
}

.purchase-now-button {
    margin-bottom: 127px;
    background: #18CFAB;
}

.our-amazing-work {
    padding-top: 100px;
    background: url("../img/amazing-work-bg.jpg");
    margin-bottom: 82px;
}

.amazing-work {
    margin-bottom: 100px;
}

.choosing-section-menu {
    margin-bottom: 71px;
}

.choosing-section {
    display: flex;
    justify-content: center;

}

.choosing-section-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
}

.choosing-section-item:hover {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.choosing-section-menu-pictures {
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
}

.choosing-section-pictures {
    width: 285px;
    height: 207px;
    /*border: none;*/
    box-sizing: border-box;
}

.a4-picture {
    width: 285px;
    height: 211px;
}

.load-more-btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 0 9px 22px;
    background: #18CFAB;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    width: 168px;
    position: relative;
    justify-content: flex-end;
}

.load-more-btn-pseudo {
    margin-top: 70px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.load-more-btn-pseudo-link {
    text-decoration: none;
}

.load-more-btn:before {
    content: url("../img/load-more-btn-pseudo.svg");
    position: absolute;
    left: 23px;
    top: 48%;
    margin-top: -15px;
}


.hover-shape-svg {
    margin-top: 46px;
    margin-bottom: 25px;
}

.choosing-section-pictures-bg {
    box-shadow: 0 -2px 0 0 rgba(24, 207, 171, 1);
    width: 285px;
    height: 207px;


}

.creative-design-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    font-family: 'Montserrat', sans-serif;

}

.web-design-focus-hover {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    font-family: 'Montserrat', sans-serif;
}

.hover-shape-svg:hover {
    fill: #18CFAB;
}

.hover-shape-svg:hover .chain {
    fill: white;
}

.hover-shape-svg:hover .square {
    fill: #18CFAB;
}

.hover-shape-svg:hover .circle {
    fill: white;
}

.titles-pseudo-news {
    text-align: center;
    margin-bottom: 100px;
}

.braking-news-photos-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}

.braking-news-photos {
    position: relative;
}

.braking-news-photos-item {
    margin-top: 35px;
}

.braking-news-photos:hover .feb {
    background: #18CFAB;

}

.braking-news-photos:hover .amazing-blog-title {
    color: #18CFAB;
}

.img-feb-hover {
    text-decoration: none;
}

.photos-section {

}

.feb {
    width: 70px;
    height: 68px;
    background: #203E38;
    position: absolute;
    top: 0;
    right: 0;

}

.feb12 {
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.feb12-feb {
    padding-top: 8px;
}

.bg-blog-comments {
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
    border-top: none;
    text-align: left;
    position: relative;
}

.blog-comments {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;

}

.amazing-blog-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.comments-by-admin {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.symbol {
    margin-left: 10px;
    margin-right: 10px;
}

/*.comments-by-admin2 {*/
/*    font-weight: 300;*/
/*    font-size: 14px;*/
/*    line-height: 39px;*/
/*    color: #777777;*/
/*    margin-left: 20px;*/
/*    margin-left: 30px;*/
/*}*/

/*.comments-by-admin2::before {*/
/*    content: url("../img/line-by-admin-pseudo.svg");*/
/*    position: absolute;*/
/*    bottom: 4px;*/
/*    right: 60.5%;*/
/*    background: #777777;*/
/*    height: 28px;*/
/*}*/

/*.comments-by-admin2::before {*/
/*    content: url("../img/by-admin-second-pseudo.svg");*/
/*    position: absolute;*/
/*    bottom: 13px;*/
/*    right: 60.5%;*/
/*    background: #777777;*/
/*    height: 12px;*/
/*}*/

/*.comments-by-admin2 {*/
/*    border-left: 1px solid #777777;*/
/*    padding-left: 20px;*/
/*}*/


.copyright {
    text-align: center;
    background: #22353F;
}

.rights-reserved {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    padding: 47px 0;
    color: #AEAEAE;
    font-family: 'Montserrat', sans-serif;

}

.the-ham-color {
    color: #18CFAB;
}


/*ненужное задание*//*ненужное задание*//*ненужное задание*//*ненужное задание*/


.the-ham-content {
    background: url("../img/unnecessary-imgs/the-ham-bg.jpg");
    margin-top: 120px;
    padding-top: 75px;
    margin-bottom: 120px;
}

.titles-pseudo-ham {
    margin-bottom: 150px;
}

.particular-user-photo-information {
    position: relative;
}

.about-user:before {
    content: url("../img/unnecessary-imgs/two-comas-pseudo.svg");
    position: absolute;
    left: 48%;
    top: -60px;
}


.titles-pseudo-the-ham {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}

.about-user-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}

.photo-name {
    text-align: center;

}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 50px;
}

.position {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
    margin-bottom: 50px;
}

.user-photo-content {
    margin: 0 auto;
    width: 166px;
    height: 166px;
    clip-path: circle(48% at 50% 50%);
    box-shadow: 0 0 0 100px rgba(31, 218, 181, 0.2) inset;
    border-radius: 100px;
}

.user-photo {
    clip-path: circle(49% at 50% 50%);
    margin-top: 12px;
}

.photo-section {
    padding-bottom: 47px;
    text-align: center;
    display: flex;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.photo-section:before {
    content: url("../img/unnecessary-imgs/photo-section-before.svg");
    margin-top: 90px;
    position: absolute;
    right: 110%;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    padding: 10px 15px;
}

.photo-section:after {
    content: url("../img/unnecessary-imgs/photo-section-before.svg");
    margin-top: 90px;
    transform: rotate(180deg);
    position: absolute;
    left: 110%;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    padding: 10px 15px;
}

/*.photo-section:after:hover {*/
/*    background: #18CFAB;*/
/*}*/


.photo-section-photo {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;

    width: 72px;
    height: 72px;
    clip-path: circle(48% at 50% 50%);
    box-shadow: 0 0 0 100px rgba(31, 218, 181, 0.2) inset;
    border-radius: 100px;
}

.user-photo-item {
    clip-path: circle(48% at 50% 50%);
    margin-top: 5.5px;
}

.photo-section-photo:hover {
    margin-top: 60px;
}

.particular-user-photo-information {
    /*visibility: hidden;*/
}

.photo-section-photo:hover .particular-user-photo-information {
    visibility: visible;
}


.best-images-section {

}

.gallery-images {
    display: flex;
    justify-content: center;
    width: 1160px;
}

.gallery-images-item-first-column {

}

.gallery-images-item {
    margin-bottom: 20px;
    margin-right: 20px;
}

.gallery-images-item-third-column::after {
    content: url("../img/unnecessary-imgs/gallery-image8-pseudo2.svg");
    position: absolute;
    padding: 5px 8px;
    background: #14B9D5;
    top: 225px;
    right: 95px;
    z-index: 1;
    /*visibility: hidden;*/
}

.gallery-images-item-third-column::before {
    content: url("../img/unnecessary-imgs/gallery-image8-pseudo1.svg");
    position: absolute;
    padding: 5px 8px;
    background: #14B9D5;
    top: 225px;
    right: 140px;
    z-index: 1;
    /*visibility: hidden;*/

}



.gallery-image1 {
    width: 378px;
    height: 263px;
}

.gallery-image3 {
    width: 378px;
    height: 290px;
}

.gallery-image4 {
    width: 378px;
    height: 380px;
}

.gallery-image5 {
    width: 378px;
    height: 247px;
}

.gallery-image6 {
    width: 378px;
    height: 254px;
}

.gallery-images-item7 {
    display: flex;
    position: relative;
}

.gallery-image7 {
    width: 180px;
    height: 168px;
}

.gallery-image8 {
    margin-left: 3px;
    /*position: relative;*/
}

/*.gallery-image8::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 27px;*/
/*    height: 25px;*/
/*    background: #14B9D5;*/
/*    z-index: 100;*/
/*}*/


.gallery-images-item7::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.64);
    width: 180px;
    height: 168px;
    z-index: 0;
    /*visibility: hidden;*/

}

.gallery-image8:hover {
    visibility: visible;
}

.gallery-images-item8 {
    display: flex;
    flex-wrap: wrap;
}

.gallery-image9 {
    width: 124px;
    height: 92px;
    margin-top: 2px;
}

.gallery-image10 {
    width: 120px;
    height: 92px;
    margin-left: 2px;
    margin-top: 2px;
}

.gallery-image11 {
    width: 115px;
    height: 92px;
    margin-left: 2px;
    margin-top: 2px;
}

.gallery-images-item18 {
    margin-top: 20px;
}

.gallery-image18 {
    width: 363px;
    height: 373px;
}

























